<html>
<head></head>

<body>
    <h1>Add A Post</h1>
<form method='POST' action='/add-post'>
  <input type='text' placeholder='Enter title' size="50" maxlength="200" name='title'><br><br>
  <textarea placeholder='Share your thoughts!' rows="8" cols="50" name='body'></textarea><br>
  <input type='checkbox' name='isPublished' checked>
  <label>Uncheck to delay publishing your post.</label><br><br>
  <button>Save Post</button>
</form>
    <a href="/">Return Home</a>


</body>
</html>