<html>
<head><link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1 class="page-title">Airing of Grievances</h1>
    <h3 class="page-subtitle">Speak your mind!</h3>

    <h2>Log In To Your Account</h2>
    <form method="POST" action="/login">
        <input type="text" placeholder="Enter username" name="username" required>
        <input type="password" placeholder="Enter password" name="password" required>
        <button>Log In</button>
    </form>
    <p>Need an account? <a href="/register">Sign up</a></p>

    
</body>
</html>