.Footer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color:#8b4513;
    margin: 20px;
    color: white;
    font-style: italic;
    font-weight: bold
}

