@media screen and (min-width: 320px, max-width: 480px) {
  body {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 2rem;
  }
}

* {
  font-family: 'Dosis', sans-serif;
  font-family: 'Open Sans', sans-serif;
  }

h1 {
  font-size: 2rem;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 10px;
  color: white
}


body {
  margin: 0;
  background-color: #79bdda;
  color: white;
  font-size: 1rem;
}

#button-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #79bdda;
  padding: 10px;
  box-shadow: 1px 1px 2px 1px black
}

ul {
  list-style: none;
  padding-top: 4px;
  padding-right: 35px;
  background-color: #79bdda;
  color: white;
}

img {
  box-shadow: 1px 1px 2px 1px black;
  background-color: white;
}

button {
    background-color: #012a4a;
    color: white;
}
